experience-api/src/main/mule/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <flow name="task-update-experience-api-main" doc:id="829eb649-6b8f-4f04-9332-b43d75735488">
        <http:listener config-ref="experience-api-httpListenerConfig" path="${listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="task-update-experience-api-config"/>
		<error-handler ref="global-errorHandlerError_Handler" />
    </flow>
	<flow name="post:\task-update:application\json:task-update-experience-api-config" doc:id="98d05954-6686-41bb-87c7-891b52ebddca" >
		<logger level="INFO" doc:name="entered into experience-api" doc:id="6f9f3efe-18f3-4fc9-a9b2-c8da4568465b" message="entered into experience-api" />
		<flow-ref doc:name="Flow Reference" doc:id="21cb2ce9-0c9d-4687-bdb8-0d9a19674c39" name="referenceSub_Flow" />
		<logger level="INFO" doc:name="experience api executed successfully" doc:id="2d10fef2-5125-45c5-bc97-8e2e7f4f5bef" message="experience api executed successfully and project has been ended" />
	</flow>
</mule>
