employee-experience-api/src/main/mule/employee-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="employee-management-api-main">
        <http:listener config-ref="HTTP-Listener-config-for-experience-api" path="${listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-management-api-config" />
		<error-handler ref="global-error-handlerError_Handler" />
    </flow>
    <flow name="post:\employees-bulk-insert:application\xml:employee-management-api-config">
		<logger level="INFO" doc:name="flow started" doc:id="8c1c6456-d999-4a83-9f3e-74b8dd5bb90e" message="experience-api started"/>
		<flow-ref doc:name="Flow Reference to call sub-flow" doc:id="d247b3dc-7cd2-4baf-85eb-df29ca85bbb3" name="referenceSub_Flow"/>
		<logger level="INFO" doc:name="experience api successfully executed" doc:id="64dbc07c-909b-452b-9366-b46270f3bb98" message="experience api has been successfully executed and closing experience api"/>
	
    </flow>
</mule>
