student-process-api/src/main/mule/student-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <flow name="student-process-api-main">
        <http:listener path="${listener.path}" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="student-process-api-config" />
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="patch:\students\(student_id):application\json:student-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="8871817f-5993-4353-98c9-743469aabe74" name="patch-students-sub-flow"/>
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="get:\students:student-process-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="213a39d7-b66c-4f03-bf4d-1861dddfede9" name="get-students-sub-flow"/>
    </flow>
    <flow name="post:\students:application\json:student-process-api-config">
        <logger level="INFO" doc:name="process-api started" doc:id="84f46905-492e-4039-9724-0e7a3af1fba9" message="process-api started"/>
		<flow-ref doc:name="Flow Reference" doc:id="a362bb3e-2780-4ef1-94f3-78c5a361ae25" name="post-students-sub-flow"/>
    </flow>
</mule>
